[submodule "src/wrapper"]
	path = src/wrapper
	url = git@github.com:RJW-db/wrapper_private.git
[submodule "src/dynarr"]
	path = src/dynarr
	url = git@github.com:RJW-db/dynar_private.git
[submodule "src/printf"]
	path = src/printf
	url = git@github.com:RJW-db/printf_private.git
